.f-title {
  color: #fff;
  font-size: 40px;
  margin-left: 23%;
  margin-top: 13%;
  text-shadow: 3px 3px #bd5911;
}

.f-hint {
  color: #fff;
  font-size: 20px;
  margin-left: 30%;
  margin-top: 0%;
  text-shadow: 3px 3px #bd5911;
}

.f-btn {
  background-color: #0e27a9;
    margin-left: 31%;
    margin-top: 2%;
    color: #fff;
    width: 35%;
    height: 37px;
    font-size: 14px;
}

.f-background {
  position: absolute;
  background-size: cover !important;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

.f-margin-right {
  margin-right: 2%;
}
