
.f-title {
  color: #fff;
  font-size: 56px;
  margin-left: 11%;
  margin-top: 14%;
  text-shadow: 5px 4px #bd5911;
}

.f-hint {
  color: #fff;
  font-size: 31px;
  margin-left: 20%;
  margin-top: 0%;
  text-shadow: 3px 3px #bd5911;
}

.f-btn {
  background-color: #0e27a9;
    margin-left: 34%;
    margin-top: 2%;
    color: #fff;
    width: 29%;
    height: 52px;
    font-size: 17px;
    padding-top: 1%;
}

.f-background {
  position: absolute;
  background-size: cover !important;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

.f-margin-right {
  margin-right: 2%;
}

.f-margin-left {
  margin-left: 39%;
  color: #000;
}

.f-title-phone {
  color: #fff;
  font-size: 17px;
  margin-left: 11%;
  margin-top: 33%;
  text-shadow: 1px 2px #bd5911;
}

.f-hint-phone {
  color: #fff;
  font-size: 16px;
  margin-left: 11%;
  margin-top: 0%;
  text-shadow: 1px 2px #bd5911;
}

.f-title-phone2 {
  color: #fff;
  font-size: 18px;
  margin-left: 35%;
  margin-top: 0%;
  text-shadow: 1px 2px #bd5911;
}

.f-btn-phone {
  background-color: #0e27a9;
    margin-left: 15%;
    margin-top: 2%;
    color: #fff;
    width: 68%;
    height: 36px;
    font-size: 17px;
    padding-top: 1%;
}

.f-margin-left-phone {
  margin-left: 23%;
  color: #000;
  font-size: 14px;
}
