<h1>Facebookconnect#index</h1>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= f.error_notification %>
<div class="form-margin-log"><%= render "devise/shared/link_facebook" %></div>
<% end %>
