<div class="homepage-search"><%= "Vendre et Acheter des livres étudiants n'a jamais été aussi facile !"%></div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= f.error_notification %>
<%= render "devise/shared/link_facebook" %>
<% end %>
