
.navbar-default {
  background-color: #1a887a;
  border-color: #1a887a;
  margin-bottom: 0px;
  height: 65px;

  .navbar-brand {
    color: white;
    padding: 20px 23px;

  }
  .navbar-brand-resp {
    font-size: 16px;
  }

  .navbar-marg-resp {
    margin-left: 55px;
  }

}
.navbar-responsiv {
  height: 114px;
}

.navbar-responsiv-marg {
  margin-left: 133px;
}
