
.navbar-default {
  background-color: #209485;
  border-color: #1a887a;
  margin-bottom: 0px;
  min-height: 0px;

  .navbar-brand {
    color: white;
    padding: 20px 23px;
    height: 0px !important;
    float: none !important;
  }

  .navbar-dropdown {
    color: grey;
  }
  .navbar-brand-resp {
    font-size: 16px;
  }

  .navbar-marg-resp {
    margin-left: 0;
  }

}

.navbar-right-phone {
  float: right !important;
  margin-right: 0px;
}
.navbar-responsiv {
  height: 114px;
}

.navbar-responsiv-marg {
  margin-left: 133px;
}
