body {
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
}

.card {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 2px #E3E4E7;
  height: 170px;
  padding: 20px;
  margin-top: 15px;
}

.card-left {
  padding: 0px;
  float: left;
}

.full {
  width: 100%;
}

.card-right {
  float: right;
    max-width: 565px;
    min-width: 380px;
}

.card-right-phone {
  margin-left: 150px;
}


.tag-price {
  float: right;
}

.span{
 margin-left:10px;
}

.img-size {
  height: 130px;
  width: 130px;
}
