.btn-home {
    color: #fff;
    background-color: #1d9687;
    border-color: #1d9687;
  }

.btn-darkgreen {
  color: #fff;
  background-color: #14675d;
  border-color: #14675d;
}

.head-home {
  padding-top: 14%;
  padding-right: 160px;
  padding-left: 160px;
}

.head-home-xs {
  padding-top: 12%;
  padding-right: 11px;
  padding-left: 11px;
}

.contact-padding {
  padding-right: 15px;
}

.color-text {
  color: #735f5f;
}

.float-right {
  float: right;
}
