.row {
  margin-left: -35px;
  margin-right: -35px;
}

.show-1 {
  border-radius: 6px;
  // background: #fff;
  box-shadow: 2px 2px 2px 2px #E3E4E7;
  margin-top: 25px;
  padding-top: 0px;
  padding-left: 0px;
  height: 530px;
  padding: 20px;
}

.show-2 {
  border-radius: 6px;
  // background: #fff;
  box-shadow: 2px 2px 2px 2px #E3E4E7;
  margin-top: 25px;
  padding-top: 0px;
  padding-left: 0px;
  height: 253px;
  padding: 20px;
}

.show-3 {
  border-radius: 6px;
  // background: #fff;
  box-shadow: 2px 2px 2px 2px #E3E4E7;
  margin-top: 25px;
  padding-top: 0px;
  padding-left: 0px;
  height: 150px;
  padding: 20px;
}

.show-left {
  padding: 0px;
}

.full {
  width: 100%;
}

.show-right {
  float: right;
    max-width: 650px;
    min-width: 380px;
}

.show-tag-price {
  font-size: 27px;
  padding-left: 20px;
  color: #333333;
  font-weight: normal;
}

.show-text-title {
  color: #1a887a;
  font-size: 25px;
  font-weight: bold;
  padding-left: 0px;
}

.show-text-loaction {
  font-size: 15px;
  color: #c7c0c0;
  padding-left: 0px;
  padding-top: 5px;
}

.show-margin-top {
  margin-top: 45px;
}

.span {
  margin-left:10px;
}

.span-contact {
  margin-left:30px;
}

.span-email {
  margin-left:70px;
}

.span-first {
  margin-left: -0px;
}

.img-cover {
  background-size: cover;
}


.full {
  width: 100%;
}

.tag-price {
  float: right;
}

.span{
 margin-left:10px;
}

