.form-group {
  max-width: 550px;
}

.form-margin {
  margin-left: 20px;
}

.form-margin-log {
  margin-left: 34px;
}

.form-margin-sign {
  margin-left: 27px;
}

.form-group {
  margin-bottom: 3px;
  margin-top: 3px;
}

.sign-up-chgt {
  margin-left: 20px;
  color: #333333;
}

.form-sign-campus {
  margin-left: 20px;
  margin-bottom: 10px;
}
