.form-group {
  max-width: 550px;
}

.form-margin {
  margin-left: 47px;
}

.form-margin-log {
  margin-left: 61px;
}

.form-margin-sign {
  margin-left: 27px;
}

.form-group {
  margin-bottom: 3px;
  margin-top: 3px;
}

.sign-up-chgt {
  margin-left: 20px;
  color: #333333;
}

.edit-chgt {
  margin-left: 47px;
  color: #333333;
  margin-top: 193px;
}

.form-sign-campus {
  margin-left: 47px;
  margin-bottom: 10px;
}
 .tip_typo {
  color: #9c9b9b;
  font-size: 13px;
  margin: 0px 0px 0px;
 }


